extends ./layout.jade
block contenido
	.container
		.row
			.col-lg-4.col-lg-offset-4
				div.well.well-login
					h1.text-center Crear cuenta
					form(action='/users', method='post')
						div.form-group
							label(for='email') Correo electr&oacute;nico
							input(type='text', name='email', id='email', class='form-control')
						div.form-group
							label(for='nombre') Nombre
							input(type='text', name='nombre', id='nombre', class='form-control')
						div.form-group
							label(for='password') Contrase&ntilde;a
							input(type='password', name='password', id='password', class='form-control')
						div.form-group
							label(for='password2') Confirmar contrase&ntilde;a
							input(type='password', name='password_confirmation', id='password2', class='form-control')
						input(type='submit', value='Continuar',  class="btn btn-info btn-block btn-lg")