extends ../../layout.jade
block contenido
	.container
		.row
			.col-lg-4.col-lg-offset-4
				div.well.well-login
					h1.text-center Nueva imagen
					form(action='/imagenes', method='post')
						div.form-group
							label(for='title') T&iacute;tulo
							input(type='text', name='title', id='title', class='form-control')
						div.form-group
							label(for='archivo') Imagen
							input(type='file', name='archivo', id='archivo', class='form-control')
						input(type='submit', value='Entrar',  class="btn btn-info btn-block btn-lg")